<div class="bg" style="height: 600px">
    <div style="height: 200px "></div>
    <div class="jumbotron text-center bg" style="background-color: #fff; height: 200px;">
        <h1></h1>
        <a class="btn btn-lg btn-primary" href="/template" role="button">Create new mail templates</a>
        <a class="btn btn-lg btn-primary" href="/templatelist" role="button">View available mail templates</a>
        <a class="btn btn-lg btn-primary" href="/sendmail" role="button">Send an email</a>
    </div>
</div>