<div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
    <h2>Available Mail Templates</h2>
    <a class="btn btn-sm btn-primary" href="/template" role="button">Design New Email</a>

    <div style="margin-top: 20px;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Content Count</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let temaplte of tempalteList">
                    <td> {{ temaplte.name }}</td>
                    <td> {{ temaplte.description }}</td>
                    <td> {{ temaplte.category }}</td>
                    <td> {{ series.templateItemList?.length }}</td>
                    <td>
                        <button class="btn btn-primary" (click)="sendNewMail(temaplte)"> Send New Mail >></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>