<div class="row main">
    <div *ngIf="!isPreview" class="col-sm-3">
        <div *ngIf="!showProperty" class="card">
            <div class="card-header">
                Content
            </div>
            <div class="content-details">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-body row">
                        <h5 class="card-text col-sm-9">Text</h5>
                        <button class="btn btn-primary" (click)="addTemplateItem(1)">Add</button>
                    </div>
                </div>
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-body row">
                        <h5 class="card-text col-sm-9">Button</h5>
                        <button class="btn btn-primary" (click)="addTemplateItem(2)">Add</button>
                    </div>
                </div>
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-body row">
                        <h5 class="card-text col-sm-9">Splitter</h5>
                        <button class="btn btn-primary" (click)="addTemplateItem(3)">Add</button>
                    </div>
                </div>
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-body row">
                        <h5 class="card-text col-sm-9">Image</h5>
                        <button class="btn btn-primary" (click)="addTemplateItem(4)">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="showProperty" class="card">
            <app-item-property class="item-property" [templateItem]="selectedItem"
                (closePropertyDetailsEmitter)="closePropertyWindow()" (deleteItemEmitter)="deleteItem()"
                (moveUpItemEmitter)="moveUpItem()" (moveDownItemEmitter)="moveDownItem()">
            </app-item-property>
        </div>
    </div>
    <div *ngIf="!isPreview" class="col-sm-9">
        <div class="card">
            <div class="card-header">
                <div class="card">
                    <div class="d-flex flex-row row-item">
                        <label class="label">Template Name:</label>
                        <input [(ngModel)]="template.name" type="text" name="name" class="form-control" id="name"
                            required>
                    </div>
                    <div class="d-flex flex-row row-item">
                        <label class="label">Template Description:</label>
                        <input [(ngModel)]="template.description" type="text" name="description" class="form-control"
                            id="description" required>
                    </div>
                    <div class="d-flex flex-row row-item">
                        <label class="label">Template Category:</label>
                        <select class="browser-default custom-select mb-4"
                            (change)="onCategoryChange($event.target.value)" required>
                            <option value="Category 1">Category 1</option>
                            <option value="Category 2">Category 2</option>
                        </select>
                    </div>
                </div>

                <button [disabled]="template.templateItemList.length == 0" class="btn btn-primary send-mail"
                    (click)="preview()">Preview >></button>

                <button *ngIf=" template.templateId" class="btn btn-primary send-mail"
                    (click)="createNewObject()">Create
                    New</button>

                <button class="btn btn-primary send-mail" (click)="chooseTemplate()">Choose
                    Template</button>
            </div>
            <div class="content-details" *ngFor="let templateItem of template.templateItemList;">
                <app-template-item [templateItem]="templateItem" (showPropertyWindow)="showPropertyWindow($event)">
                </app-template-item>
            </div>
        </div>
    </div>

    <div *ngIf="isPreview" class="col-sm-12">
        <select class="browser-default custom-select mb-4" (change)="onModeChange($event.target.value)" required>
            <option value="1">Desktop</option>
            <option value="2">Mobile</option>
        </select>
    </div>

    <div *ngIf="isPreview" [ngClass]="{'col-sm-12': mode!=2, 'col-sm-8 mobile':mode==2 }">
        <div class="content-details" *ngFor="let templateItem of template.templateItemList;">
            <app-template-item [templateItem]="templateItem" (showPropertyWindow)="showPropertyWindow($event)">
            </app-template-item>
        </div>
    </div>

    <div *ngIf="isPreview" class="col-sm-12">
        <div class="preview-footer">
            <button *ngIf="isPreview" class="btn btn-primary send-mail"
                (click)="saveMailTemplate()">{{saveButtonText}}</button>

            <button *ngIf="isPreview" class="btn btn-primary send-mail"
                (click)="sendMail(true)">{{saveSendButtonText}}</button>

            <button *ngIf="isPreview" class="btn btn-primary send-mail" (click)="sendMail(false)">Send Mail</button>

            <button *ngIf="isPreview" class="btn btn-primary send-mail" (click)="backToEdit()">Modify
                Template</button>
        </div>
    </div>
</div>