.main{
    padding: 10px;
    .content-details{
        padding: 10px;
    }
}

.item-property {
    padding: 5px;
}

.send-mail{
    margin-right: 5px;
    margin-top: 10px;
}

.label{
    margin-top: 5px;
    width: 200px;
}

.row-item{
    padding: 7px;
}